<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!--
	phpBB style name: bootlike
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:	  pit
-->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:600:cyrillic-ext,latin,greek-ext,greek,vietnamese,latin-ext,cyrillic']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

<a id="top" class="anchor" accesskey="t"></a>

<!-- EVENT overall_header_body_before -->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="fa fa-bars" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">{SITENAME}</a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-{S_CONTENT_FLOW_END}">
                <li><a href="{U_SEARCH}" title="{L_SEARCH}"><span class="fa fa-fw fa-search" aria-hidden="true"></span> {L_SEARCH}</a></li>
                <!-- IF S_REGISTERED_USER -->
                <li id="username_logged_in">
                    <!-- EVENT navbar_header_user_profile_prepend -->
                    <!-- EVENT navbar_header_username_prepend -->
                    <a href="{U_PROFILE}" class="header-avatar dropdown-toggle" data-toggle="dropdown"><span class="fa fa-fw fa-user" aria-hidden="true"></span> <!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF -->{CURRENT_USERNAME_SIMPLE} <span class="caret" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu dropdown-menu-{S_CONTENT_FLOW_END}" role="menu">
                        <!-- IF U_RESTORE_PERMISSIONS -->
                        <li><a href="{U_RESTORE_PERMISSIONS}"><span class="fa fa-refresh fa-fw" aria-hidden="true"></span> {L_RESTORE_PERMISSIONS}</a></li>
                        <!-- ENDIF -->

                        <!-- EVENT navbar_header_profile_list_before -->

                        <li><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem"><span class="fa fa-user fa-fw" aria-hidden="true"></span> {L_READ_PROFILE}</a></li>
                        <li class="divider"></li>
                        <li><a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem"><span class="fa fa-sliders fa-fw" aria-hidden="true"></span> {L_PROFILE}</a></li>

                        <!-- EVENT navbar_header_profile_list_after -->

                        <!-- IF S_NOTIFICATIONS_DISPLAY -->
                        <li><a href="{U_VIEW_ALL_NOTIFICATIONS}"><span class="fa fa-bell fa-fw" aria-hidden="true"></span> {L_NOTIFICATIONS} <strong class="label label-info<!-- IF not NOTIFICATIONS_COUNT --> hide<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong></a></li>
                        <!-- ENDIF -->

                        <!-- IF S_DISPLAY_PM -->
                        <li><a href="{U_PRIVATEMSGS}"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> {L_PRIVATE_MESSAGES} <strong class="label label-info<!-- IF not PRIVATE_MESSAGE_COUNT --> hide<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong></a></li>
                        <!-- ENDIF -->

                        <li class="divider"></li>
                        <li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><span class="fa fa-power-off fa-fw" aria-hidden="true"></span> {L_LOGIN_LOGOUT}</a></li>
                    </ul>
                    <!-- EVENT navbar_header_username_append -->
                </li>
                <!-- ELSE -->
                    <!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
                    <li><a href="{U_REGISTER}"><span class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></span> {L_REGISTER}</a></li>
                    <!-- ENDIF -->
                    <li><a href="#" data-toggle="modal" data-target="#login-popup" title="{L_LOGIN_LOGOUT}" accesskey="x"><span class="fa fa-power-off fa-fw" aria-hidden="true"></span> {L_LOGIN_LOGOUT}</a></li>
                    <!-- EVENT navbar_header_logged_out_content -->
                <!-- ENDIF -->
            </ul>
        </div>
	</div>
</nav>

<!-- EVENT overall_header_headerbar_before -->
<div class="page-header text-center hidden-xs" role="banner"></div>
<!-- EVENT overall_header_headerbar_after -->
<div class="container">
	<a href="#start_here" class="anchor hide">{L_SKIP}</a>

	<!-- EVENT overall_header_navbar_before -->

	<!-- INCLUDE navbar_header.html -->

	<!-- EVENT overall_header_page_body_before -->

	<a id="start_here" class="anchor"></a>

	<div id="page-body" class="page-body" role="main">

		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="alert alert-info">
			<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
		</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
