<!-- IF S_TYPE == 1 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_CONFIRMATION}</h4>
	</div>
	<div class="panel-body">
		<fieldset class="form-horizontal">
			<dl class="form-group">
			<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label">{QA_CONFIRM_QUESTION}{L_COLON}</label><span class="help-block">{L_CONFIRM_QUESTION_EXPLAIN}</span></dt>
			<dd class="col-md-8 col-sm-7 col-xs-12 form-inline">
				<input type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="45"  class="form-control" title="{L_ANSWER}" />
				<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" />
			</dd>
			</dl>
		</fieldset>
	</div>
</div>
<!-- ELSE -->
	<dl class="form-group">
		<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label">{QA_CONFIRM_QUESTION}{L_COLON}</label><span class="help-block">{L_CONFIRM_QUESTION_EXPLAIN}</span></dt>
		<dd class="col-md-9 col-sm-8 col-xs-12 form-inline">
			<input type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="45"  class="form-control" title="{L_ANSWER}" />
			<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" />
		</dd>
	</dl>
<!-- ENDIF -->
