<!-- IF S_TYPE == 1 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_CONFIRMATION}</h4>
	</div>
	<div class="panel-body">
		<p>{L_CONFIRM_EXPLAIN}</p>

		<fieldset class="form-horizontal">

		<!-- IF S_RECAPTCHA_AVAILABLE -->
			<dl class="form-group">
				<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label">{L_CONFIRM_CODE}{L_COLON}</label><br /><span>{L_RECAPTCHA_EXPLAIN}</span></dt>
				<dd class="col-md-9 col-sm-8 col-xs-12 form-inline">
					<noscript>
						<div>{L_RECAPTCHA_NOSCRIPT}</div>
					</noscript>
					<script src="{RECAPTCHA_SERVER}.js?hl={LA_RECAPTCHA_LANG}" async defer></script>
					<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
				</dd>
			</dl>
		<!-- ELSE -->
		{L_RECAPTCHA_NOT_AVAILABLE}
		<!-- ENDIF -->

		</fieldset>
	</div>
</div>

<!-- ELSE -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
	<dl class="form-group">
		<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label">{L_CONFIRM_CODE}{L_COLON}</label><br /><span>{L_RECAPTCHA_EXPLAIN}</span></dt>
		<dd class="col-md-8 col-sm-7 col-xs-12 form-inline">
			<noscript>
				<div>{L_RECAPTCHA_NOSCRIPT}</div>
			</noscript>
			<script src="{RECAPTCHA_SERVER}.js?hl={LA_RECAPTCHA_LANG}" async defer></script>
			<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
		</dd>
	</dl>
<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->

<!-- ENDIF -->
