<!-- IF S_TYPE == 1 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_CONFIRMATION}</h4>
	</div>
	<div class="panel-body">
		<p>{L_CONFIRM_EXPLAIN}</p>

		<fieldset class="form-horizontal">
			<dl class="form-group">
				<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label" for="confirm_code">{L_CONFIRM_CODE}{L_COLON}</label><span class="help-block">{L_CONFIRM_CODE_EXPLAIN}</span></dt>
				<dd class="col-md-8 col-sm-7 col-xs-12 form-inline"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /></dd>
			</dl>
			<dl class="form-group">
				<dt class="col-md-4 col-sm-5 col-xs-12 hidden-xs">&nbsp;</dt>
				<dd class="col-md-8 col-sm-7 col-xs-12 form-inline">
					<div class="input-group">
						<input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="form-control" title="{L_CONFIRM_CODE}" />
						<!-- IF S_CONFIRM_REFRESH -->
						<div class="input-group-btn">
							<input type="submit" name="refresh_vc" id="refresh_vc" class="btn btn-default" value="{L_VC_REFRESH}" />
						</div>
						<!-- ENDIF -->
					</div>
					<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
				</dd>
			</dl>
		</fieldset>
	</div>
</div>
<!-- ELSE -->
	<dl class="form-group">
		<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label" for="confirm_code">{L_CONFIRM_CODE}{L_COLON}</label><span class="help-block">{L_CONFIRM_CODE_EXPLAIN}</span></dt>
		<dd class="col-md-9 col-sm-8 col-xs-12 form-inline"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /></dd>
	</dl>
	<dl class="form-group">
		<dt class="col-md-3 col-sm-4 col-xs-12 hidden-xs">&nbsp;</dt>
		<dd class="col-md-9 col-sm-8 col-xs-12 form-inline">
			<input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="form-control" title="{L_CONFIRM_CODE}" />
			<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
		</dd>
	</dl>
<!-- ENDIF -->
