
<!-- IF .draftrow -->
<div class="alert alert-info">
	<strong>{L_LOAD_DRAFT}</strong><br />
	{L_LOAD_DRAFT_EXPLAIN}
</div>

<div class="panel panel-default">
<div class="panel-heading">
	<h4 class="row panel-title">
		<span class="col-sm-9 col-xs-12">{L_LOAD_DRAFT}</span>
		<span class="col-md-3 hidden-xs small">{L_SAVE_DATE}</span>
	</h4>
</div>

	<!-- BEGIN draftrow -->
	<div class="clearfix row-item<!-- IF draftrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<div class="col-sm-9 col-xs-12">
			<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a><br />
			<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
			<div class="visible-xs">
				{L_SAVE_DATE}{L_COLON} {draftrow.DATE}
			</div>
		</div>

		<div class="col-md-3 hidden-xs">{draftrow.DATE}</div>
	</div>
	<!-- END draftrow -->
</div>

<!-- ENDIF -->
