<div class="panel-group clearfix">
<!-- IF S_VIEWTOPIC -->
	<a href="{U_VIEW_FORUM}" class="btn btn-default pull-{S_CONTENT_FLOW_BEGIN}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i> {L_RETURN_TO_FORUM}</a>
<!-- ELSEIF S_VIEWFORUM -->
	<a href="{U_INDEX}" class="btn btn-default pull-{S_CONTENT_FLOW_BEGIN}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i> {L_RETURN_TO_INDEX}</a>
<!-- ELSEIF SEARCH_TOPIC -->
	<a href="{U_SEARCH_TOPIC}" class="btn btn-default pull-{S_CONTENT_FLOW_BEGIN}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i> {L_RETURN_TO_TOPIC}</a>
<!-- ELSEIF S_SEARCH_ACTION -->
	<a href="{U_SEARCH}" class="btn btn-default pull-{S_CONTENT_FLOW_BEGIN}" title="{L_SEARCH_ADV}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i> {L_GO_TO_SEARCH_ADV}</a>
<!-- ENDIF -->

<!-- IF S_DISPLAY_JUMPBOX -->
	<div id="jumpbox" class="btn-group<!-- IF S_IN_MCP --> dropdown<!-- ELSE --> dropup<!-- ENDIF --> pull-{S_CONTENT_FLOW_END}">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_JUMP_TO}<!-- ENDIF -->"><!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_JUMP_TO}<!-- ENDIF --> <span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-{S_CONTENT_FLOW_END} dropdown-contents">
	<!-- BEGIN jumpbox_forums -->
		<!-- IF jumpbox_forums.FORUM_ID neq -1 -->
			<li class="jumpbox"><a href="{jumpbox_forums.LINK}"><!-- BEGIN level -->&nbsp; &nbsp;<!-- END level --><!-- IF jumpbox_forums.level --><!-- IF S_CONTENT_DIRECTION eq 'rtl' -->&#8626;<!-- ELSE -->&#8627;<!-- ENDIF --> &nbsp;<!-- ENDIF --><!-- IF jumpbox_forums.S_IS_CAT --><strong>{jumpbox_forums.FORUM_NAME}</strong><!-- ELSE -->{jumpbox_forums.FORUM_NAME}<!-- ENDIF --></a></li>
			<!-- IF not jumpbox_forums.S_LAST_ROW -->
			<li class="divider"></li>
			<!-- ENDIF -->
		<!-- ENDIF -->
	<!-- END jumpbox_forums -->
		</ul>
	</div>
<!-- ENDIF -->
</div>
