<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_TITLE}</h4>
	</div>
	<div class="panel-body">

	<div class="panel-group clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>

	<div class="panel-group form-inline text-{S_CONTENT_FLOW_END}">
	<div class="input-group">
		<input type="search" class="form-control" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" />
		<div class="input-group-btn">
			<button type="submit" name="filter" title="{L_SEARCH}" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
		</div>
		</div>
	</div>

	<div class="table-responsive">
	<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th class="width-15">{L_USERNAME}</th>
		<th class="text-center">{L_IP}</th>
		<th class="width-15 text-center">{L_TIME}</th>
		<th class="width-50">{L_ACTION}</th>
		<!-- IF S_CLEAR_ALLOWED --><th class="text-center">{L_MARK}</th><!-- ENDIF -->
	</tr>
	</thead>
		<tbody>
	<!-- IF S_LOGS -->
		<!-- BEGIN log -->
		<tr>
			<td class="width-15">{log.USERNAME}</td>
			<td class="text-center">{log.IP}</td>
			<td class="width-15 text-center">{log.DATE}</td>
			<td class="width-50">{log.ACTION}<br />
			{log.DATA}
		</td>
			<!-- IF S_CLEAR_ALLOWED --><td class="text-center"><input type="checkbox" name="mark[]" value="{log.ID}" /></td><!-- ENDIF -->
		</tr>
		<!-- END log -->
	<!-- ELSE -->
		<tr>
			<td class="bg1 text-center" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->">{L_NO_ENTRIES}</td>
		</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
	</div>

	<!-- IF .log -->
	<div class="panel-group clearfix">
		<!-- INCLUDE display_options.html -->
		{S_FORM_TOKEN}
		<!-- IF S_CLEAR_ALLOWED -->
		<fieldset class="pull-{S_CONTENT_FLOW_END}">
			<div class="btn-group">
			<input class="btn btn-danger" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
			<input class="btn btn-warning" type="submit" value="{L_DELETE_MARKED}" name="action[del_marked]" />
			<a href="#" onclick="marklist('mcp', 'mark', false); return false;" class="btn btn-default">{L_UNMARK_ALL}</a>
			<a href="#" onclick="marklist('mcp', 'mark', true); return false;" class="btn btn-default">{L_MARK_ALL}</a>
			</div>
		</fieldset>
		<!-- ENDIF -->
	</div>

	<div class="panel-group clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>

	<!-- ELSE -->
			{S_FORM_TOKEN}
	<!-- ENDIF -->

	</div>
</div>

</form>

<!-- INCLUDE mcp_footer.html -->
