<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_WARNED_USERS}</h4>
	</div>
	<div class="panel-body">

	<p>{L_WARNED_USERS_EXPLAIN}</p>

	<!-- IF .user -->
		<div class="panel-group clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
			<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
				<span class="btn btn-default disabled">{TOTAL_USERS}</span>
				<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
			</div>
		</div>

		<div class="table-responsive">
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>{L_USERNAME}</th>
				<th class="width-35">{L_LATEST_WARNING_TIME}</th>
				<th class="width-15 text-center">{L_WARNINGS}</th>
				<th class="width-15 text-center">&nbsp;</th>
			</tr>
		</thead>
		<tbody>

		<!-- BEGIN user -->
			<tr>
				<td>{user.USERNAME_FULL}</td>
				<td class="width-35">{user.WARNING_TIME}</td>
				<td class="width-15 text-center">{user.WARNINGS}</td>
				<td class="width-15 text-center"><a href="{user.U_NOTES}">{L_VIEW_NOTES}</a></td>
			</tr>
		<!-- END user -->
		</tbody>
		</table>
		</div>

		<div class="panel-group clearfix">
			<!-- INCLUDE display_options.html -->
		</div>

		<div class="panel-group clearfix">
		<!-- IF .pagination --> 
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
			<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
				<span class="btn btn-default disabled">{TOTAL_USERS}</span>
				<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
			</div>
		</div>

	<!-- ELSE -->
		<div class="alert alert-info">
			{L_NO_WARNINGS}
		</div>
	<!-- ENDIF -->

	</div>
</div>

{S_FORM_TOKEN}

</form>

<!-- INCLUDE mcp_footer.html -->
