<!-- INCLUDE overall_header.html -->

<h2>{L_MCP}</h2>

<!-- IF U_MCP -->
<p class="btn-group">
<!-- IF U_ACP --><a href="{U_ACP}" class="btn btn-default" title="{L_ACP}" data-responsive-text="{L_ACP_SHORT}">{L_ACP}</a><!-- ENDIF --><a href="{U_MCP}" class="btn btn-default" title="{L_MCP}" data-responsive-text="{L_MCP_SHORT}">{L_MCP}</a><!-- IF U_MCP_FORUM --><a href="{U_MCP_FORUM}" class="btn btn-default">{L_MODERATE_FORUM}</a><!-- ENDIF --><!-- IF U_MCP_TOPIC --><a href="{U_MCP_TOPIC}" class="btn btn-default">{L_MODERATE_TOPIC}</a><!-- ENDIF --><!-- IF U_MCP_POST --><a href="{U_MCP_POST}" class="btn btn-default">{L_MODERATE_POST}</a><!-- ENDIF -->
</p>
<!-- ENDIF -->

<ul class="nav nav-tabs nav-justified">
	<!-- BEGIN l_block1 -->
	<li<!-- IF l_block1.S_SELECTED --> class=" active"<!-- ENDIF -->><a href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a></li>
	<!-- END l_block1 -->
</ul>

<div class="well">
	<div class="row">

	<div id="cp-menu" class="cp-menu col-md-3">
		<div id="navigation" class="navigation" role="navigation">
			<div class="list-group">
			<!-- BEGIN l_block1 -->
			<!-- IF l_block1.S_SELECTED -->
				<!-- BEGIN l_block2 -->
				<!-- IF l_block1.l_block2.S_SELECTED -->
				<a class="list-group-item list-group-item-action active" href="{l_block1.l_block2.U_TITLE}">{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></a>
				<!-- ELSE -->
				<a class="list-group-item list-group-item-action" href="{l_block1.l_block2.U_TITLE}">{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></a>
				<!-- ENDIF -->
				<!-- END l_block2 -->
			<!-- ENDIF -->
			<!-- END l_block1 -->
			</div>
		</div>
	</div>

	<div id="cp-main" class="col-md-9">

		<!-- IF MESSAGE -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">{L_MESSAGE}</h4>
			</div>
			<div class="panel-body">
				<p class="alert alert-danger">{MESSAGE}</p>
			<!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<!-- END return_links -->
			</div>
		</div>
		<!-- ENDIF -->
