<!-- IF S_AJAX_REQUEST -->

	<h3>{MESSAGE_TITLE}</h3>
	<p>{MESSAGE_TEXT}</p>

	<!-- IF S_NOTIFY_POSTER -->
		<label><input type="checkbox" name="notify_poster" checked="checked" /> <!-- IF S_APPROVE -->{L_NOTIFY_POSTER_APPROVAL}<!-- ELSE -->{L_NOTIFY_POSTER_DISAPPROVAL}<!-- ENDIF --></label>
	<!-- ENDIF -->

	<!-- IF not S_APPROVE and not S_RESTORE and .reason -->
		<label><strong>{L_DISAPPROVE_REASON}{L_COLON}</strong>
		<select name="reason_id" class="form-control">
			<!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.DESCRIPTION}</option><!-- END reason -->
		</select></label>

		<label><strong>{L_MORE_INFO}{L_COLON}</strong><br /><span>{L_CAN_LEAVE_BLANK}</span>
			<textarea class="form-control" name="reason" id="reason" rows="4" cols="40">{REASON}</textarea>
		</label>
	<!-- ENDIF -->

	<fieldset class="text-center">
		<input type="button" name="confirm" value="{YES_VALUE}" class="btn btn-success" />&nbsp;
		<input type="button" name="cancel" value="{L_NO}" class="btn btn-danger" />
	</fieldset>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">{MESSAGE_TITLE}</h4>
			</div>
			<div class="panel-body">
			{S_FORM_TOKEN}
			<!-- IF ADDITIONAL_MSG --><div class="alert alert-danger">{ADDITIONAL_MSG}</div><!-- ENDIF -->

			<fieldset class="form-horizontal">
			<!-- IF S_NOTIFY_POSTER -->
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12 hidden-xs">&nbsp;</dt>
					<dd class="col-md-9 col-sm-8 col-xs-12"><label><input type="checkbox" name="notify_poster" checked="checked" /> <!-- IF S_APPROVE -->{L_NOTIFY_POSTER_APPROVAL}<!-- ELSE -->{L_NOTIFY_POSTER_DISAPPROVAL}<!-- ENDIF --></label></dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF not S_APPROVE and not S_RESTORE and .reason -->
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label">{L_DISAPPROVE_REASON}{L_COLON}</label></dt>
					<dd class="col-md-9 col-sm-8 col-xs-12 form-inline"><select name="reason_id" class="form-control">
						<!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.DESCRIPTION}</option><!-- END reason -->
						</select>
					</dd>
				</dl>
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label" for="reason">{L_MORE_INFO}{L_COLON}</label><span class="help-block">{L_CAN_LEAVE_BLANK}</span></dt>
					<dd class="col-md-9 col-sm-8 col-xs-12 form-inline"><textarea class="form-control" name="reason" id="reason" rows="4" cols="40">{REASON}</textarea></dd>
				</dl>
			<!-- ENDIF -->

			<dl class="form-group">
				<dt class="col-md-3 col-sm-4 col-xs-12 hidden-xs">&nbsp;</dt>
				<dd class="col-md-9 col-sm-8 col-xs-12"><strong>{MESSAGE_TEXT}</strong></dd>
			</dl>
			</fieldset>
			<hr />
			<fieldset class="text-center">
				{S_HIDDEN_FIELDS}<input type="submit" name="confirm" value="{YES_VALUE}" class="btn btn-success" />&nbsp; 
				<input type="submit" name="cancel" value="{L_NO}" class="btn btn-danger" />
			</fieldset>
			</div>
		</div>
	</div>
</div>

</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
