<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title"><span><a href="{U_VIEW_FORUM}">{L_FORUM}{L_COLON} {FORUM_NAME}</a></span></h4>
	</div>
	<div class="panel-body">

	<!-- INCLUDE jumpbox.html -->

	<div class="panel-group clearfix">
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL_TOPICS}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>

	<!-- IF .topicrow -->
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="row panel-title">
				<span class="<!-- IF S_MERGE_SELECT -->col-sm-7<!-- ELSE -->col-sm-5<!-- ENDIF --> col-xs-10">{L_TOPICS}</span>
				<span class="col-sm-2 text-center hidden-xs small">{L_REPLIES}</span>
				<span class="col-sm-3 hidden-xs small">{L_LAST_POST}</span>
				<!-- IF not S_MERGE_SELECT -->
				<span class="col-xs-2 text-center small">{L_MARK}</span>
				<!-- ENDIF -->
			</h4>
		</div>

		<!-- BEGIN topicrow -->
		<div class="container-fluid row-item {topicrow.TOPIC_IMG_STYLE}<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> bg-danger<!-- ENDIF -->">
			<div class="row">
				<div class="<!-- IF S_MERGE_SELECT --> col-sm-7<!-- ELSE --> col-sm-5<!-- ENDIF --> col-xs-10 folder">
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->

					<!-- IF .topicrow.pagination -->
					<ul class="pagination pagination-sm pull-{S_CONTENT_FLOW_END}">
					<!-- BEGIN pagination -->
						<!-- IF topicrow.pagination.S_IS_PREV -->
						<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
						<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
						<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
						<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
						<!-- ENDIF -->
					<!-- END pagination -->
					</ul>
					<!-- ENDIF -->

					<!-- EVENT topiclist_row_prepend -->
					<!-- IF topicrow.S_SELECT_TOPIC --><a href="{topicrow.U_SELECT_TOPIC}" class="label label-primary">{L_SELECT_MERGE}</a><!-- ENDIF -->
					<!-- EVENT mcp_forum_topic_title_before -->
					<!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE --><a href="{topicrow.U_DELETE_TOPIC}" class="label label-warning">{L_DELETE_SHADOW_TOPIC}</a><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}" class="label label-success" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->"><i class="fa fa-flag" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_UNAPPROVED}</span></a><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_DELETED or topicrow.S_POSTS_DELETED --><a href="{topicrow.U_MCP_QUEUE}" class="label label-default" title="{L_TOPIC_DELETED}"><i class="fa fa-recycle" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_DELETED}</span></a><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}" class="label label-danger" title="{L_TOPIC_REPORTED}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_REPORTED}</span></a><!-- ENDIF -->

					<!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" alt="{L_IMAGE}" /> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- EVENT mcp_forum_topic_title_after -->

					<div class="visible-xs">
						<!-- IF topicrow.ATTACH_ICON_IMG --><span class="tip" title="{L_TOTAL_ATTACHMENTS}"><i class="fa fa-paperclip" aria-hidden="true"></i><span class="sr-only">{L_TOTAL_ATTACHMENTS}</span></span> <!-- ENDIF -->
						{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; {topicrow.LAST_POST_TIME}<br />
						{L_REPLIES}{L_COLON} <strong>{topicrow.REPLIES}</strong>
					</div>

					<div class="hidden-xs">
						<!-- IF topicrow.ATTACH_ICON_IMG --><span class="tip" title="{L_TOTAL_ATTACHMENTS}"><i class="fa fa-paperclip" aria-hidden="true"></i><span class="sr-only">{L_TOTAL_ATTACHMENTS}</span></span> <!-- ENDIF -->
						{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
					</div>
					<!-- EVENT topiclist_row_append -->
				</div>

				<div class="col-sm-2 text-center hidden-xs">{topicrow.REPLIES}</div>
				<div class="col-sm-3 hidden-xs">{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}<br />{topicrow.LAST_POST_TIME}</div>
				<!-- IF not S_MERGE_SELECT -->
				<div class="col-xs-2 text-center">
					<!-- IF not topicrow.S_MOVED_TOPIC --><input type="checkbox" name="topic_id_list[]" value="{topicrow.TOPIC_ID}"<!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF --> /><!-- ELSE -->&nbsp;<!-- ENDIF -->
				</div>
				<!-- ENDIF -->
			</div>
		</div>
		<!-- END topicrow -->
		</div>
	<!-- ELSE -->
		<div class="alert alert-info">
			{L_NO_TOPICS}
		</div>
	<!-- ENDIF -->

	<div class="panel-group clearfix">
		<!-- INCLUDE display_options.html -->

		<fieldset class="pull-{S_CONTENT_FLOW_END}">
			<!-- IF not S_MERGE_SELECT -->
			<select name="action">
				<option value="" selected="selected">{L_SELECT_ACTION}</option>
				<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
				<!-- IF S_CAN_RESTORE --><option value="restore_topic">{L_RESTORE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MERGE --><option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
				<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
				<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
				<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_NORMAL --><option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_STICKY --><option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_ANNOUNCE --><option value="make_announce">{L_MAKE_ANNOUNCE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_ANNOUNCE_GLOBAL --><option value="make_global">{L_MAKE_GLOBAL}</option><!-- ENDIF -->
			</select>
			<input class="btn btn-default action-bar-btn" type="submit" value="{L_SUBMIT}" />

			<div class="btn-group">
				<a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;" class="btn btn-default">{L_MARK_ALL}</a>
				<a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;" class="btn btn-default">{L_UNMARK_ALL}</a>
			</div>
			<!-- ENDIF -->
			{S_FORM_TOKEN}
		</fieldset>

	</div>

	<div class="panel-group clearfix">
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ENDIF -->
		<div class="btn-group pull-{S_CONTENT_FLOW_BEGIN}">
			<span class="btn btn-default disabled">{TOTAL_TOPICS}</span>
			<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
		</div>
	</div>

	</div>
</div>

</form>

<!-- INCLUDE mcp_footer.html -->
