<!-- INCLUDE simple_header.html -->

<form method="post" action="{S_IM_ACTION}">

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">{L_SEND_IM}</h4>
			</div>
			<div class="panel-body">

			<p>{L_SEND_IM_EXPLAIN}</p>
		<!-- IF S_SENT_JABBER -->
			<p>{L_IM_SENT_JABBER}</p>
		<!-- ENDIF -->

			<fieldset class="form-horizontal">
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label">{L_IM_RECIPIENT}{L_COLON}</label></dt>
					<dd class="col-md-9 col-sm-8 col-xs-12"><label class="control-label">{USERNAME}</label><!-- IF S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --><!-- IF PRESENCE_IMG --> {PRESENCE_IMG}<!-- ENDIF --></dd>
				</dl>

			<!-- IF S_SEND_JABBER -->
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12"><label class="control-label" for="message">{L_IM_MESSAGE}{L_COLON}</label></dt>
					<dd class="col-md-9 col-sm-8 col-xs-12"><textarea class="form-control" name="message" id="message" rows="5" cols="45"></textarea></dd>
				</dl>
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12 hidden-xs">&nbsp;</dt>
					<dd class="col-md-9 col-sm-8 col-xs-12"><input class="btn btn-success" name="submit" type="submit" value="{L_IM_SEND}" /></dd>
				</dl>
			<!-- ELSE IF S_NO_SEND_JABBER -->
				<dl class="form-group">
					<dt class="col-md-3 col-sm-4 col-xs-12 hidden-xs">&nbsp;</dt>
					<dd class="col-md-9 col-sm-8 col-xs-12">{L_IM_NO_JABBER}</dd>
				</dl>
			<!-- ENDIF -->
			{S_FORM_TOKEN}
			</fieldset>

			</div>
		</div>
	</div>
</div>

</form>

<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->
