<div id="review" class="panel panel-default">
	<div class="panel-heading">
		<span class="pull-{S_CONTENT_FLOW_END}"><a href="#review" class="btn btn-default btn-xs" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
		<h4 class="panel-title">{L_TOPIC_REVIEW}{L_COLON} {TOPIC_TITLE}</h4>
	</div>

	<div id="topicreview" class="panel-body">
	<script type="text/javascript">
	// <![CDATA[
		bbcodeEnabled = {S_BBCODE_ALLOWED};
	// ]]>
	</script>
	<!-- BEGIN topic_review_row -->

	<!-- IF topic_review_row.S_IGNORE_POST -->
		<div class="panel panel-default post-ignore">
			<div class="panel-body">
				{topic_review_row.L_IGNORE_POST}
			</div>
		</div>
	<!-- ELSE IF topic_review_row.S_POST_DELETED -->
		<div class="panel panel-default post-ignore">
			<div class="panel-body">
				{topic_review_row.L_DELETE_POST}
			</div>
		</div>
	<!-- ELSE -->

		<div class="panel panel-default<!-- IF topic_review_row.POST_ID == REPORTED_POST_ID --> panel-warning<!-- ENDIF -->">
			<div class="panel-heading">
				<h4 class="panel-title">
					<!-- IF topic_review_row.POST_SUBJECT --><a href="#pr{topic_review_row.POST_ID}">{topic_review_row.POST_SUBJECT}</a><!-- ELSE -->&nbsp;<!-- ENDIF -->
				</h4>
			</div>
			<div class="panel-body">

				<div class="postbody" id="pr{topic_review_row.POST_ID}">
					<div class="clearfix">
					<!-- EVENT posting_topic_review_row_post_details_before -->
						<div class="post-date pull-{S_CONTENT_FLOW_BEGIN}">
						<!-- IF S_IS_BOT -->
							<i class="fa fa-file-o fa-fw" aria-hidden="true"></i><span class="sr-only">{topic_review_row.MINI_POST}</span>
						<!-- ELSE -->
							<a href="{topic_review_row.U_MINI_POST}" title="{topic_review_row.MINI_POST}"><i class="fa fa-file-o fa-fw" aria-hidden="true"></i><span class="sr-only">{topic_review_row.MINI_POST}</span></a>
						<!-- ENDIF -->
							{L_POST_BY_AUTHOR} <strong>{topic_review_row.POST_AUTHOR_FULL}</strong> &raquo; {topic_review_row.POST_DATE}
						</div>

						<!-- IF (topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE) or topic_review_row.U_MCP_DETAILS -->
						<div class="pull-{S_CONTENT_FLOW_END}">
							<div class="btn-group">
							<!-- IF topic_review_row.U_MCP_DETAILS -->
								<a href="{topic_review_row.U_MCP_DETAILS}" title="{L_POST_DETAILS}" class="btn btn-default"><i class="fa fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{L_POST_DETAILS}</span></a>
							<!-- ENDIF -->
							<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
								<a href="#postingbox" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}', {post_id:{topic_review_row.POST_ID},time:{topic_review_row.POST_TIME},user_id:{topic_review_row.USER_ID}});" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}" class="btn btn-default"><i class="fa fa-quote-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span class="sr-only">{L_QUOTE} {topic_review_row.POST_AUTHOR}</span></a>
							<!-- ENDIF -->
							</div>
						</div>
						<!-- ENDIF -->
					<!-- EVENT posting_topic_review_row_post_details_after -->
					</div>

					<hr />

					<div class="content">{topic_review_row.MESSAGE}</div>

					<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
						<div class="attachbox pull-{S_CONTENT_FLOW_BEGIN}">
							<strong>{L_ATTACHMENTS}</strong>
							<div class="panel panel-default">
								<div class="panel-body">
								<!-- BEGIN attachment -->
									<!-- IF not attachment.S_FIRST_ROW --><hr /><!-- ENDIF -->
									{topic_review_row.attachment.DISPLAY_ATTACHMENT}
								<!-- END attachment -->
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					<!-- ENDIF -->

					<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
						<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
					<!-- ENDIF -->
				</div>

			</div>
		</div>
	<!-- ENDIF -->
	<!-- END topic_review_row -->
	</div>

	<div class="panel-footer text-{S_CONTENT_FLOW_END}">
		<a href="<!-- IF S_MCP_REPORT -->#report<!-- ELSE -->#postingbox<!-- ENDIF -->" class="top" title="{L_BACK_TO_TOP}"><i class="fa fa-chevron-up fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BACK_TO_TOP}</span></a>
	</div>
</div>
