<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{L_USERGROUPS}</h4>
	</div>
	<div class="panel-body">

	<p>{L_GROUPS_EXPLAIN}</p>
	<!-- DEFINE $SHOW_BUTTONS = 0 -->
	<!-- IF .leader -->
	<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="row panel-title">
			<span class="col-xs-10">{L_GROUP_LEADER}</span>
			<span class="col-xs-2 text-center small">{L_SELECT}</span>
		</h4>
	</div>

		<!-- BEGIN leader -->
		<!-- IF not leader.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->
		<div class="clearfix row-item<!-- IF leader.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="col-sm-10 col-xs-10">
				<!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF leader.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{leader.GROUP_ID}" /> <!-- ENDIF -->
				<a href="{leader.U_VIEW_GROUP}" class="forumtitle"<!-- IF leader.GROUP_COLOUR --> style="color:#{leader.GROUP_COLOUR}"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
				<!-- IF leader.GROUP_DESC --><br />{leader.GROUP_DESC}<!-- ENDIF -->
				<!-- IF not leader.GROUP_SPECIAL --><br /><i>{leader.GROUP_STATUS}</i><!-- ENDIF -->
			</div>

			<div class="col-xs-2 text-center"><input type="radio" name="selected" value="{leader.GROUP_ID}" <!-- IF leader.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
		</div>
		<!-- END leader -->
	</div>
	<!-- ENDIF -->

	<!-- IF .member -->
	<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="row panel-title">
			<span class="col-sm-10 col-xs-10">{L_GROUP_MEMBER}</span>
			<span class="col-xs-2 text-center small">{L_SELECT}</span>
		</h4>
	</div>

		<!-- BEGIN member -->
		<!-- IF not member.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->		
		<div class="clearfix row-item<!-- IF member.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="col-xs-10">
				<!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF member.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{member.GROUP_ID}" /> <!-- ENDIF -->
				<a href="{member.U_VIEW_GROUP}" class="forumtitle"<!-- IF member.GROUP_COLOUR --> style="color:#{member.GROUP_COLOUR}"<!-- ENDIF -->>{member.GROUP_NAME}</a>
				<!-- IF member.GROUP_DESC --><br />{member.GROUP_DESC}<!-- ENDIF -->
				<!-- IF not member.GROUP_SPECIAL --><br /><i>{member.GROUP_STATUS}</i><!-- ENDIF -->
			</div>

			<div class="col-xs-2 text-center"><input type="radio" name="selected" value="{member.GROUP_ID}" <!-- IF member.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
		</div>
		<!-- END member -->
	</div>
	<!-- ENDIF -->

<!-- IF .pending -->
	<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="row panel-title">
			<span class="col-xs-10">{L_GROUP_PENDING}</span>
			<span class="col-xs-2 text-center small">{L_SELECT}</span>
		</h4>
	</div>

		<!-- BEGIN pending -->
		<!-- IF not pending.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->			
		<div class="clearfix row-item<!-- IF pending.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="col-xs-10">
				<a href="{pending.U_VIEW_GROUP}" class="forumtitle"<!-- IF pending.GROUP_COLOUR --> style="color:#{pending.GROUP_COLOUR}"<!-- ENDIF -->>{pending.GROUP_NAME}</a>
				<!-- IF pending.GROUP_DESC --><br />{pending.GROUP_DESC}<!-- ENDIF -->
				<!-- IF not pending.GROUP_SPECIAL --><br /><i>{pending.GROUP_STATUS}</i><!-- ENDIF -->
			</div>

			<div class="col-xs-2 text-center"><input type="radio" name="selected" value="{pending.GROUP_ID}" <!-- IF pending.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
		</div>
		<!-- END pending -->
	</div>
<!-- ENDIF -->
<!-- IF .nonmember -->
	<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="row panel-title">
			<span class="col-xs-10">{L_GROUP_NONMEMBER}</span>
			<span class="col-xs-2 text-center small">{L_SELECT}</span>
		</h4>
	</div>

		<!-- BEGIN nonmember -->
		<!-- IF nonmember.S_CAN_JOIN -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->		
		<div class="clearfix row-item<!-- IF nonmember.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="col-xs-10">
				<a href="{nonmember.U_VIEW_GROUP}" class="forumtitle"<!-- IF nonmember.GROUP_COLOUR --> style="color:#{nonmember.GROUP_COLOUR}"<!-- ENDIF -->>{nonmember.GROUP_NAME}</a>
				<!-- IF nonmember.GROUP_DESC --><br />{nonmember.GROUP_DESC}<!-- ENDIF -->
				<!-- IF not nonmember.GROUP_SPECIAL --><br /><i>{nonmember.GROUP_STATUS}</i><!-- ENDIF -->
			</div>

			<div class="col-xs-2 text-center"><input type="radio" name="selected" value="{nonmember.GROUP_ID}" <!-- IF not nonmember.S_CAN_JOIN -->disabled="disabled"<!-- ENDIF --> /></div>
		</div>
		<!-- END nonmember -->
	</div>
<!-- ENDIF -->

	<!-- IF S_CHANGE_DEFAULT or $SHOW_BUTTONS eq 1 -->
	<fieldset class="panel-group">
		<!-- IF S_CHANGE_DEFAULT -->
		<div class="pull-{S_CONTENT_FLOW_BEGIN}">
			<input class="btn btn-default" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}" />
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->

		<!-- IF $SHOW_BUTTONS eq 1 -->
		<div class="pull-{S_CONTENT_FLOW_END}">
			<label for="action">{L_SELECT}{L_COLON}</label> 
			<select name="action" id="action">
				<option value="join">{L_JOIN_SELECTED}</option>
				<option value="resign">{L_RESIGN_SELECTED}</option>
				<option value="demote">{L_DEMOTE_SELECTED}</option>
			</select>&nbsp;
			<input class="btn btn-default" type="submit" name="submit" value="{L_SUBMIT}" />
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->
	</fieldset>
	<!-- ENDIF -->

	</div>
</div>	

</form>

<!-- INCLUDE ucp_footer.html -->
