<!-- IF .avatar_local_cats -->
<dl class="form-group">
	<dt class="col-md-4 col-sm-5 col-xs-12"><label class="control-label" for="category">{L_AVATAR_CATEGORY}{L_COLON}</label></dt>
	<dd class="col-md-8 col-sm-7 col-xs-12 form-inline">
		<select name="avatar_local_cat" id="category" class="form-control">
			<!-- BEGIN avatar_local_cats -->
			<option value="{avatar_local_cats.NAME}"<!-- IF avatar_local_cats.SELECTED --> selected="selected"<!-- ENDIF -->>{avatar_local_cats.NAME}</option>
			<!-- END avatar_local_cats -->
		</select>
		<input type="submit" value="{L_GO}" name="avatar_local_go" class="btn btn-default" />
	</dd>
</dl>

<div id="gallery" class="text-center">
<!-- BEGIN avatar_local_row -->
<!-- BEGIN avatar_local_col -->
	<label for="av-{avatar_local_row.S_ROW_COUNT}-{avatar_local_row.avatar_local_col.S_ROW_COUNT}" class="img-thumbnail text-center">
		<img src="{avatar_local_row.avatar_local_col.AVATAR_IMAGE}" alt="" /><br />
		<input type="radio" name="avatar_local_file" id="av-{avatar_local_row.S_ROW_COUNT}-{avatar_local_row.avatar_local_col.S_ROW_COUNT}" value="{avatar_local_row.avatar_local_col.AVATAR_FILE}"<!-- IF avatar_local_row.avatar_local_col.CHECKED --> checked="checked"<!-- ENDIF --> />
	</label>
<!-- END avatar_local_col -->
<!-- END avatar_local_row -->
</div>
<!-- ELSE -->
<p><strong>{L_NO_AVATARS}</strong></p>
<!-- ENDIF -->
